main{
    display: grid;
    height: auto;
    margin: 0 auto;
    grid-template-columns: 20% 80%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    padding: 10px;
    height: 100px;
}

.content .container h2{
    padding-bottom: 30px;
}


header img{
    padding-right: 10px;
}

.content .container{
    grid-column: 2;
    background-color: #e8e1e3;
    padding-bottom: 30%;
}

.content .container form{
    padding-left: 30px;
}

.headings .container button{
    width: 237px;
    height: 44px;
    background-color: white;
    color: black;
    border-radius: 25px;
    border: none;
    font-weight: bolder;
    margin-bottom: 3px;
}

.headings .container button img{
    height: 20px;
    width: 30px;
    float: left;
    padding-left: 7px;
}


.headings button:hover{
    background-color: lightgrey;
    cursor: pointer;
}

input{
    box-shadow: 2px 2px darkgray;
    width: 70%;
    padding: 5px 10px;
    border-width: 1px;
    border-radius: 5px;
    height: 40px;
}

select{
    box-shadow: 2px 2px darkgray;
    width: 70%;
    padding: 5px 10px;
    border-width: 1px;
    border-radius: 5px;
    height: 40px;
}

form h5{
    font-size: 16px;
    font-weight: bolder;
}



#h4{
    font-size: 20px;
    font-weight: bolder;
}

.headings{
    grid-column: 1;
    grid-row: 1;
    float: left;
    margin-top: 30px;
    margin-left: 20px;

}

form button{
    width: 90px;
    height: 44px;
    background-color: #78223e;
    color: white;
    border-radius: 7px;
    border: none;
    font-weight: bolder;
    margin-top: 15px;
}

form button:hover{
    cursor: pointer;
    background-color: #501629;
}

hr{
    width: 230px;
    margin-left: 0px;
}