main{
    display: grid;
    height: auto;
    margin: 0 auto;
    grid-template-columns: 20% 80%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    padding: 10px;
    height: 100px;
}

header img{
    padding-right: 10px;
}

.content{
    float:center;
    background-color: lightgrey;
    padding-bottom: 50%;
}

.headings .container button{
    width: 237px;
    height: 44px;
    background-color: white;
    color: black;
    border-radius: 25px;
    border: none;
    font-weight: bolder;
    margin-bottom: 5px;
}

.button img{
    height: 20px;
    width: 20px;
    float: left;
    padding-left: 7px;
}

.content div.info{
    display: grid;
    grid-template-columns: 40% 40%;
    background-color: white;
    grid-column-start: 10%;
    border-radius: 10px;
}

.container button:hover{
    background-color: lightgrey;
    cursor: pointer;
}

input{
    box-shadow: 1px 1px;
    width: 70%;
    padding: 5px 10px;
    border-width: 1px;
    border-radius: 5px;
}

select{
    box-shadow: 1px 1px;
    width: 70%;
    padding: 5px 10px;
    border-width: 1px;
    border-radius: 5px;
}

.content div.info div.button{
    padding-top: 25%;
    padding-left: 90%;
}

#h4{
    font-size: 20px;
}

.headings{
    grid-column: 1;
    grid-row: 1;
    float: left;
    margin-top: 30px;
    margin-left: 20px;

}