* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
}

.navbar {
    display: flex;
    /**justify-content: space-between;*/
    background-color: #1f2937;
    color: white;
    padding: 2rem 1rem;
}
.logo {
    font-size: 1.2rem;
}

.main-aside {
    float: left;
    width: 15%;
    height: 100vh;
    background-color: white;
    padding: 1rem 3rem;
}
.main-aside li {
    margin-bottom: 1rem;
}
.main-aside ul {
    list-style-type: none;
}
.main-aside li a {
    text-decoration: none;
    color: rgb(16, 19, 33);
}

.main-aside hr {
    border: none;
    border-top: 1px solid rgba(210, 210, 210, 0.444);
    margin-bottom: 1rem;
}

.main-content {
    background: rgb(255, 255, 255);
    padding: 2rem;
    height: 100vh;
}

.dash{
    display: flex;
    justify-content: space-around;
    
    
}


.nav2{
    margin: 20px;
}

.nav2 a{
    color: #6b7280;
    text-decoration: none;
}

.nav2 a:hover{
    color: #5A67D8;
}

.nav2 li{
    text-decoration: none;
    margin: 10px;
}

.nav2 ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

table{
    
    border: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}


table tr th{
    text-align: center;
    font-weight: bold;
    padding: 12px 15px;
    
}

table tr td{
    text-align:left;
    padding: 20px 25px;
}

span .link{
    border: 2px solid forestgreen;
}
