main{
    display: grid;
    height: auto;
    margin: 0 auto;
    grid-template-columns: 20% 80%;
}

h1{
    color: #1e223d;
}


table{
    border-collapse: collapse;
    border: 5px;
    padding: 20px;
    
}


table tr th{
    background-color: lightgray;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 12px 15px;
}

table tr td{
    text-align:left;
    background-color: #ffff;
    padding: 20px 25px;
}

table tr{
    border-bottom: 1px solid #dddd;
}

#result{
    background-color: white;
    padding: 30px;
    margin: 40px;
    margin-left: 100px;
    border-radius: 7px;
    width: 700px;

}


.headings{
    grid-column: 1;
    grid-row: 1;
    float: left;
    margin-top: 30px;
    margin-left: 20px;

}

.user-container{
    grid-column: 2;
    height: 600px;
    background-color: #e8e1e3;
   
}

.userheader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.userheader h1{
    margin-left: 40px;
}

.user-container hr{
    width: 1100px;
}


#adduserbtn{
    width: 110px;
    height: 44px;
    background-color: #78223e;
    color: white;
    border-radius: 7px;
    border: none;
    font-weight: bolder;
    margin-left: 700px;
}

#adduserbtn:hover{
    cursor: pointer;
    background-color: #501629;

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    padding: 10px;
    height: 100px;
}

header img{
    padding-right: 10px;
}

#h4{
    font-size: 20px;
}

.container button{
    width: 237px;
    height: 44px;
    background-color: white;
    color: black;
    border-radius: 25px;
    border: none;
    font-weight: bolder;
    margin-bottom: 5px;
}


.button img{
    height: 20px;
    width: 20px;
    float: left;
    padding-left: 7px;
}

.container button:hover{
    background-color: lightgrey;
    cursor: pointer;
}

.container hr{
    width: 250px;
    margin-left: 0px;
}

